<!DOCTYPE html>
<html lang="es">

<!-- head -->
<%- include('./partials/head',{cssSheet:"users"})%>

<body>
    <!-- header -->
    <%- include('./partials/header') %>
        
    <main>  
    <section>
        <!-- articulo rental N° -->
        
        <div class="article-box">
            
            <div class="tituloFoto">  
                <h2><%= user.nombre +" "+ user.apellido %></h2>
                <img src="../images/users/<%= user.imagen %>" alt="sin-imagen">  
            </div>
            </a> 
            
            <div class="descriptionPrecioCarrito">    
                <p class="description"> <%= user.mail %></p>
                <p class="precioCarrito">Edad <%= user.edad%></p>
                <p class="precioCarrito">Categoría: <%= user.categoria_id %></p>
                <div>
                    <a href="/users/editUser/<%=user.id %>"><button>Editar</button></a>
                    <a href="/users/deleteUser/<%=user.id %>"><button>Eliminar</button></a>
                </div>
                
            </div>
        </div>

    </section>
    </main>
    <!-- footer -->
    <%- include('./partials/footer') %>
</body>
</html> 